@font-face {
  font-family: "icomoon";
  src: url("icomoon28a0.eot?74zehw");
  src: url("icomoon28a0.eot?74zehw#iefix") format("embedded-opentype"),
    url("icomoon28a0.ttf?74zehw") format("truetype"),
    url("icomoon28a0.woff?74zehw") format("woff"),
    url("icomoon28a0.svg?74zehw#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.icon-play:before {
  content: "\e912";
}
.my-icon {
  font-family: "icomoon";
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-down:before {
  content: "\e900";
}
.icon-angle-left:before {
  content: "\e901";
}
.icon-angle-right:before {
  content: "\e902";
}
.icon-angle-up:before {
  content: "\e903";
}
.icon-arrow-down:before {
  content: "\e904";
}
.icon-arrow-left:before {
  content: "\e905";
}
.icon-arrow-right:before {
  content: "\e906";
}
.icon-arrow-up:before {
  content: "\e907";
}
.icon-busness-idea:before {
  content: "\e908";
}
.icon-busness-mind:before {
  content: "\e909";
}
.icon-calendar-days:before {
  content: "\e90a";
}
.icon-check-circle:before {
  content: "\e90b";
}
.icon-check:before {
  content: "\e90c";
}
.icon-clock:before {
  content: "\e90d";
}
.icon-close:before {
  content: "\e90e";
}
.icon-comments:before {
  content: "\e90f";
}
.icon-desing-tool-pot:before {
  content: "\e910";
}
.icon-dobble-angles-down:before {
  content: "\e911";
}
.icon-dobble-angles-left:before {
  content: "\e912";
}
.icon-dobble-angles-right:before {
  content: "\e913";
}
.icon-dobble-angles-up:before {
  content: "\e914";
}
.icon-envelope:before {
  content: "\e915";
}
.icon-facebook:before {
  content: "\e916";
}
.icon-folder-open:before {
  content: "\e917";
}
.icon-heart:before {
  content: "\e918";
}
.icon-instagram:before {
  content: "\e919";
}
.icon-layout:before {
  content: "\e91a";
}
.icon-linkedin-in:before {
  content: "\e91b";
}
.icon-location-dot:before {
  content: "\e91c";
}
.icon-magnifying-glass:before {
  content: "\e91d";
}
.icon-pencil-compus:before {
  content: "\e91e";
}
.icon-phone-volume:before {
  content: "\e91f";
}
.icon-phone:before {
  content: "\e920";
}
.icon-pinterest-p:before {
  content: "\e921";
}
.icon-play-t:before {
  content: "\e922";
}
.icon-quote-right:before {
  content: "\e923";
}
.icon-share-nodes:before {
  content: "\e924";
}
.icon-skype:before {
  content: "\e925";
}
.icon-strong-brin:before {
  content: "\e926";
}
.icon-twitter:before {
  content: "\e927";
}
.icon-user:before {
  content: "\e928";
}
